html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 40px;
}

#container {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 10px;
    width: 100%;
}

.dropdown-menu {
    max-width: none;
}

#main,
#layout {
    height: 100%;
    width: 100%;
}


#showdown {
    float: left;
    margin-left: 1%;
    width: 48%;
    height: 100%;

    >div {
        height: 100%;
    }

    textarea {
        font-family: monospace;
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
             -o-box-sizing: border-box;
                box-sizing: border-box;
    }
}

#preview {
    border: solid 1px #ccc;
    float: right;
    margin-right: 1%;
    padding: 0 4px;
    width: 48%;
    height: 100%;
    .border-radius(4px);

    iframe {
        border: none;
        width: 100%;
        height: 100%;
    }
}

