[submodule "public/lib/require"]
	path = public/lib/require
	url = https://github.com/jrburke/requirejs.git
[submodule "public/lib/showdown"]
	path = public/lib/showdown
	url = https://github.com/coreyti/showdown.git
[submodule "public/lib/backbone"]
	path = public/lib/backbone
	url = https://github.com/amdjs/backbone.git
[submodule "public/lib/underscore"]
	path = public/lib/underscore
	url = https://github.com/amdjs/underscore.git
[submodule "public/lib/js-yaml"]
	path = public/lib/js-yaml
	url = https://github.com/nodeca/js-yaml.git
