#container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand(href='/') Markdown Writer
        ul.nav
          li
            a(href='#articles') Articles
          if user
            li
              a.githubUser(href=user.html_url, target='_blank')
                img(src=user.avatar_url)
                span= user.login
          else
            li
              a(href='/auth/github', data-bypass='') Log In



  #main

