#container
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.brand(href='#') Markdown Writer
        ul.nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown') Articles
                b.caret
            ul#articles.dropdown-menu

        form#new.navbar-search.pull-left
            input(id='title', name='title', placeholder='New Article Title')
  
  #main
    #showdown
    #preview
      iframe
