!!!5
html
	head
		title= title
		link(rel='stylesheet', href='/css/core.css')
	body
		!= body
		if env == 'development'
			script(data-main='/app/config', src='/assets/js/libs/require.js')
		else
			script(data-main='/app/config', src='/dist/release/require.js')
