!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/core.css')
  body
    != body
    script(src='/lib/jquery.min.js')
    script(data-main='/js/main.js', src='/lib/require/require.js')
