!!!5
html(manifest='offline.manifest')
  head
    title= title
    link(rel='stylesheet', href='/prod/css/bootstrap.css')
    link(rel='stylesheet', href='/prod/css/style.css')
  body
    != body
    script(data-main='/prod/js/main.js', src='/prod/lib/require/require.js')
