border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

html,
body
    height: 100%
    overflow: hidden

body
    padding-top: 40px;

#container
    position: absolute
    top: 50px
    left: 0
    bottom: 10px
    width: 100%

.dropdown-menu
    max-width: none

#main
    height: 100%
    width: 100%

#showdown
    float: left
    margin-left: 1%
    width: 48%
    height: 95%

    >div
        height: 100%

    textarea
        font-family: monospace
        width: 100%
        height: 100%

#preview
    border: solid 1px #ccc
    float: right
    margin-right: 1%
    padding: 4px
    width: 48%
    height: 95%
    border-radius(4px)

    iframe
        border: none
        width: 100%
        height: 100%

