html,
body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#showdown {
  float: left;
  margin-left: 1%;
  width: 48%;
  height: 87%;
}
#showdown textarea {
  font-family: monospace;
  width: 100%;
  height: 100%;
}
#preview {
  float: right;
  margin-right: 1%;
  width: 48%;
  height: 87%;
}
#preview iframe {
  border: solid 1px #ccc;
  width: 100%;
  height: 100%;
}
